@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
}

@font-face {
     font-family: 'Antiga';
     src: url('../fonts/antigaRegular.ttf');
}

@font-face {
     font-family: 'PP Neue Montreal Medium';
     src: url('../fonts/PPNeueMontreal-Medium.otf');
}

@font-face {
     font-family: 'Graphik LCG';
     src: url('../fonts/GraphikLCG-Light.ttf');
}
